doctype html
html
	head(lang="ko")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		title news-ward
	body
		ul(style='list-style:none')
			each article in root.articles
				li(style='border:1px solid red;word-break:break-all')
					p
						a(href= article.url)= article.title
						button(style='margin-left:20px;background-color:green;color:#fff;font-size:20px') scrap
					p(style='overflow:hidden;width:100%;height:150px;text-align:center')
						img(src=article.urlToImage style='height:100%;vertical-align:top')
					p= article.description
					p= article.source.name
					p= article.author
					p= article.publishedAt





